BACK4APP_SERVER_URL=https://parseapi.back4app.com
BACK4APP_APP_ID=coloque_seu_app_id
BACK4APP_REST_KEY=coloque_sua_rest_api_key
BACK4APP_CLASS_NAME=ScoutNotes
NEXT_PUBLIC_APP_NAME=Futebol HUB
API_FOOTBALL_KEY=coloque_sua_api_football_key
FOOTBALL_DATA_API_TOKEN=coloque_seu_token_football_data_org
THESPORTSDB_API_KEY=coloque_sua_chave_thesportsdb_opcional
GNEWS_API_KEY=coloque_sua_gnews_api_key
LIVESCORE_API_KEY=coloque_sua_livescore_api_key
LIVESCORE_API_SECRET=coloque_sua_livescore_api_secret
